
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between projects as needed */
}

.skill {
    flex: 1 1 calc(33.333% - 20px); /* Adjust the calculation if you change the gap */
    box-sizing: border-box;
    background-color: #f9f9f9; /* Light background color for better contrast */
    padding: 20px; /* Padding inside each project box */
    border-radius: 8px; /* Rounded corners for a modern look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.skill-content {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the gap between image and text as needed */
}

ul.logo-list {
    list-style: none;
    padding: 0;
}

ul.logo-list li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

ul.logo-list li .logo {
    width: 24px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px; /* Space between logo and text */
}